{{ define "content" }}
<main>
  <form class="tc noprint" action="{{ "search" | absURL }}">
    <input id="search-query" name="q" placeholder="Search" class="f2" />
  </form>

  <article class="cf ph3 ph5-ns pv5">
    {{ range (where .Pages "Layout" "recipe").GroupByParam "Category" }}
    <header class="fn fl-ns w-30-ns pr4-ns">
      <h1 class="mb3 mt0 lh-title ttu">{{ .Key }}</h1>
    </header>
    <div class="fn fl-ns w-70-ns">
      <dl class="lh-title pb4 mt0 ttu">
        {{ range .Pages }}
        <dt class="f4 b"> <a href="{{.Permalink}}" class="link black hover-bg-light-yellow">{{.Title}}
            #{{.Params.sourceLocation}}</a>
          {{ if in .Params.tags "Excellent" }}
          <span class="relative pl3">
            <span class="handwrite crooked-1 ttl f3" style="top: -0.5rem">excellent!</span>
          </span>
          {{ end }}</dt>
        <dd class="ml0 pb3">{{.Params.Subtitle}}</dd>
        {{ end }}

      </dl>
    </div>
    {{ end }}

    <div class="fl noprint" style="filter: grayscale(100%);">
      {{.Content}}
    </div>
</main>
{{ end }}