{{ define "content" }}
<main>
  <article class="cf ph3 ph5-ns pv5">
    {{ range .Pages.GroupByParam "Category" }}
    <header class="fn fl-ns w-30-ns pr4-ns">
      <h1 class="mb3 mt0 lh-title ttu">{{ .Key }}</h1>
    </header>
    <div class="fn fl-ns w-70-ns">
      <dl class="lh-title pb4 mt0 ttu">
        {{ range .Pages }}
        <dt class="f4 b"> <a href="{{.Permalink}}" class="link black hover-bg-light-yellow">{{.Title}}</a>
          {{ if in .Params.tags "Excellent" }}
          <span class="handwrite ttl f3">excellent!</span>
          {{ end }}</dt>
        <dd class="ml0 pb3">{{.Params.Subtitle}}</dd>
        {{ end }}

      </dl>
    </div>
    {{ end }}

    <div>
      {{.Content}}
    </div>
</main>
{{ end }}