{{ define "content" }}

<div class="center" itemscope itemtype="http://schema.org/Recipe">
  <article class="">
    <header class="tc ttu">
      <h1 class="f1 measure center" itemprop="name">{{ .Title }}</h1>
      <h3 class="f3 measure center">{{ .Params.Subtitle }}</h3>
      <h3 class="f3 measure center">********************</h3>
    </header>

    {{ if in .Params.tags "Excellent" }}<h2
      class="absolute top--2 top--1-l right-0 pt4 pr4 pr7-l handwrite crooked-2 f2">excellent!</h2>{{ end }}

    <div class="w-100 h-100 flex flex-wrap flex-auto flex-row-l flex-column justify-center">
      <div class="h-100-l order-1-l order-2 ph4 pb4">
        {{ range .Params.Subcomponents }}
        {{ partial "recipes/method_item" . }}
        {{ end }}

        {{ partial "recipes/method_item" .Params }}
      </div>
      <div class="w-30-l h-100-l order-2-l order-1 ph4 pb4-l">
        {{ range .Params.Subcomponents }}
        {{ partial "recipes/ingredients_item" . }}
        {{ end }}

        {{ partial "recipes/ingredients_item" .Params }}
      </div>
    </div>

    <div class="tc center pa3">
      <div class="tc" itemprop="description">{{.Content}}</div>

      <img src="{{ .Params.sourceIMG | relURL }}" class="w-100 tc dib br4 dib measure f3 noprint"
        style=" filter: grayscale(100%);" />
    </div>
  </article>
</div>

{{ partialCached "recipes/glossary" . }}
{{ end}}