<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
  integrity="sha256-IdYuEFP3WJ/mNlzM18Y20Xgav3h5pgXYzl8fW4GnuPo=" crossorigin="anonymous"></script>

<script>
  (function () {
    var context = document.querySelector("#content");
    var instance = new Mark(context);

    var gramToOzStr = function (value) {
      return Number(value / 28.3495231).toFixed(1) + " oz";
    };

    var mlToOzStr = function (value) {
      return Number(value / 29.5735295).toFixed(1) + " oz";
    }

    var lToOzStr = function (value) {
      return Number(value * 33.8140227).toFixed(1) + " oz";
    }

    var lbToKgStr = function (value) {
      return Number(value / 2.204622625).toFixed(1) + " kg";
    }

    var cToFStr = function (value) {
      return Math.floor((value * 9 / 5) + 32) + " ℉";
    }

    var converters = [
      [/([\d\.]+) *g/, gramToOzStr],
      [/([\d\.]+) *ml/, mlToOzStr],
      [/([\d\.]+) *L/, lToOzStr],
      [/([\d\.\/]+) *lb[s]*/, lbToKgStr],
      [/([\d\.]+) *℃/, cToFStr],
    ];

    var parseFraction = function (fractionStr) {
      var ators = fractionStr.split("/");
      if (ators.length == 1) {
        return parseFloat(fractionStr);
      } else {
        return parseFloat(ators[0]) / parseFloat(ators[1]);
      }
    }

    var normalizeValue = function (valueStr) {
      var values = valueStr.split(" ");

      if (values.length == 1) {
        return parseFraction(values[0]);
      }
      if (values[values.length - 1].indexOf("/") == -1) {
        return parseFraction(values[values.length - 1]);
      } else {
        return parseFloat(values[values.length - 2]) + parseFraction(values[values.length - 1]);
      }
    }

    converters.forEach(([matcher, cb]) => {
      instance.markRegExp(matcher, {
        element: "span",
        className: "",
        separateWordSearch: false,
        each: (markAnchor) => {
          var value = normalizeValue(matcher.exec(markAnchor.innerText)[1]);
          var span = document.createElement('span');
          span.className = "handedit"
          span.innerText = "/" + cb(value) + "";
          markAnchor.insertAdjacentElement("afterend", span)
        }
      });
    });
  })();
</script>